<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('用户个人信息')" />
</head>

<body class="gray-bg" style="font: 14px Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif !important;">
    <input id="userId" name="userId" type="hidden" th:value="${user.userId}" />
    <section class="section-content">
    <div class="row">
        <div class="col-sm-4 pr5">
            <div class="ibox float-e-margins">
                <div class="ibox-title ibox-title-gray dashboard-header gray-bg">
                    <h5>个人资料</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <p>
                        	<img th:src="(${user.avatar} == '') ? (${user.sex} eq '0' ? @{/img/boy.jpg}:@{/img/girl.jpg}) : @{${user.avatar}}" class="img-circle img-lg">
					      </p>
                        <p><a href="javascript:avatar()">修改头像</a></p>
                    </div>
                    <ul class="list-group list-group-striped">
                        <li class="list-group-item"><i class="fa fa-user"></i>
                            <b class="font-noraml">登录账号：</b>
                            <p class="pull-right">手机号或者身份证</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">手机号码：</b>
                            <p class="pull-right">[[${user.phonenumber}]]</p>
                        </li>
                        <li class="list-group-item" th:if="${user.dept?.deptName != null}"><i class="fa fa-group"></i>
                            <b  class="font-noraml">上级机构：</b>
                            <p class="pull-right" >[[${parentName}]] </p>
                        </li>
                        <li class="list-group-item" th:if="${user.dept?.deptName != null}"><i class="fa fa-group"></i>
                            <b  class="font-noraml">所属机构：</b>
                            <p class="pull-right" >[[${user.dept?.deptName}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-calendar"></i>
                            <b  class="font-noraml">注册时间：</b>
                            <p class="pull-right" >[[${#dates.format(user.createTime, 'yyyy-MM-dd')}]]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-sm-8 about">
            <div class="ibox float-e-margins">
                <div class="ibox-title ibox-title-gray dashboard-header">
                    <h5>基本资料</h5>
                </div>
                <div class="ibox-content">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#user_info" data-toggle="tab" aria-expanded="true">基本资料</a></li>
                            <li><a href="#modify_password" data-toggle="tab" aria-expanded="false">修改密码</a></li>
                        </ul>
                        <div class="tab-content">
                            <!--用户信息-->
                            <div class="tab-pane active" id="user_info" th:object="${user}">
                                <form class="form-horizontal" id="form-user-edit" autocomplete="off">
                                    <!--隐藏ID-->
                                    <input name="id" id="id" type="hidden">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label is-required">学生姓名：</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="userName" th:field="*{userName}"  placeholder="请输入用户名称">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label is-required">身份证号码：</label>
                                        <div class="col-sm-10">
                                            <input type="text" onblur="changeBirthday(this)" onkeyup="changeBirthday(this)" name="idcard" id="idcard" maxlength="18" minlength="18" th:value="*{student.idcard}" class="form-control" placeholder="身份证号码" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">    
						                <label class="col-sm-2 control-label is-required">学生生日：</label>
						                <div class="col-sm-8">
						                    <div class="input-group date">
						                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						                        <input id="birthday" name="student.birthday" th:field="*{student.birthday}" class="form-control" placeholder="" type="text" required readonly>
						                    	<input name="student.studentId" th:field="*{student.studentId}" hidden/>
						                    </div>
						                </div>
					            	</div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label is-required">学生性别：</label>
                                        <div class="col-sm-10">
                                            <div class="radio-box">
												<input type="radio" id="radio1" th:field="*{sex}" name="sex" value="0">
												<label for="radio1">男</label>
											</div>
											<div class="radio-box">
												<input type="radio" id="radio2" th:field="*{sex}" name="sex" value="1">
												<label for="radio2">女</label>
											</div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label is-required">监护人手机号码：</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="phonenumber" maxlength="11" th:field="*{phonenumber}" placeholder="请输入手机号码" disabled>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label is-required">监护人姓名：</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="parentName"   th:field="*{student.parentName}" required placeholder="请输入监护人姓名"  />
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label is-required">学生两寸证件照：</label>
                                        <div class="col-sm-10">
                                            <input id="idcardImg" name="idcardImg"  type="text" th:value="*{student.idcardImg}" style="width: 0px;line-height: 0px;height: 0px;border: 0px;" readonly="readonly" />
                                            <img id="showidcardImg" style="border:solid 1px red;width: 35mm;height:45mm" th:src="${user.student.idcardImg}!=null?${user.student.idcardImg}:'/leyu/img/idcardimg.jpg'">
                                        	<img id="showidcardImgTemp" style="display: none" />
                                        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div id="idcardImgDiv" class="btn btn-primary">选择图片</div>
                                        	<p><font color="red">红白蓝底皆可，二寸（普通）建议照片尺寸：宽度需在410-415像素，高度575-580像素之间，jpg格式。此照片将是您的准考证照片和证书照片(如通过考试)，请务必按照要求提供！</font></p>
                                        	<input id="idcardfile" name="idcardfile" type="file" accept="image/jpeg" style="left:-9999px;position:absolute;" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">等级证书照片：</label>
                                        <div class="col-sm-10">
                                            <input id="certImg" type="text" th:field="*{student.certImg}" hidden>
                                            <img id="showcertImg" style="width: 150px;" th:src="${user.student.certImg}">
                                        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div id="certImgDiv" class="btn btn-primary">选择图片</div>
                                        	<font color="red">第一次考级时不需要提供,非本机构颁发的证书请上传证书图片</font>
                                        	<input id="file" type="file" multiple accept="image/*" style="left:-9999px;position:absolute;"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-sm btn-primary" onclick="submitUserInfo()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                                            <button type="button" class="btn btn-sm btn-danger closeBtn" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            <!--修改密码-->
                            <div class="tab-pane" id="modify_password">
                                <form class="form-horizontal" id="form-user-resetPwd">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">旧密码：</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="oldPassword" placeholder="请输入旧密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">新密码：</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="请输入新密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">确认密码：</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="confirmPassword" placeholder="请确认密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-sm btn-primary" onclick="submitChangPassword()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                                            <button type="button" class="btn btn-sm btn-danger closeBtn" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
    
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-css" />
	<th:block th:include="include :: datetimepicker-js" />
    <script>
    	var isEdit = false;
    	initForm();
    	var isRefresh = [[${isRefresh}]];
    	if(isRefresh == false){
    		$(".closeBtn").hide();
    	}
    
	    $("#birthday").datetimepicker({
	    	format: 'yyyy-mm-dd',
	    	weekStart: 1,
	    	todayBtn: false,
	    	autoclose: true,
	    	todayHighlight: 1,
	    	startView: 2,
	    	minView: 2,
	    	forceParse: 0,
	        autoclose: true
	    });

	    $("#idcardImgDiv").click(function(){
	    	$("#idcardfile").trigger("click");
	    });
	    $("#certImgDiv").click(function(){
	    	$("#file").trigger("click");
	    });
	    
	    $("#idcardfile").change(function(){
	    	var file = this.files[0];
	        if(!/image\/\w+/.test(file.type)){
	            $.modal.alertError("文件格式错误，请上传JPG类型图片");
	            return false;
	        }
	        if(file.size > (1048576 * 2)){
                $.modal.alertError("证件照不能大于2M");
                return false;
            }
	        
            photoCompress(file, {
                quality: 1
            }, function(base64Codes){
                $("#showidcardImg").attr("src",base64Codes);
                $("#showidcardImgTemp").attr("src",base64Codes);
                $("#idcardImg").val(base64Codes);
            });
	    });
	    $("#file").change(function(){
	    	var file = this.files[0];
	        if(!/image\/\w+/.test(file.type)){
	            $.modal.alertError("文件格式错误，请上传图片类型,如：JPG，PNG后缀的文件。");
	            return false;
	        }
	        if(file.size > (1048576 * 10)){
                $.modal.alertError("证书图片不能大于10M");
                return false;
            }
            photoCompress(file, {
                quality: 0.3
            }, function(base64Codes){
                $("#showcertImg").attr("src",base64Codes);
                $("#certImg").val(base64Codes);
            });
	    });
    
	    /*用户管理-头像*/
	    function avatar() {
	        var url = ctx + 'system/user/profile/avatar';
	        $.modal.open("修改头像", url);
	    }
	    function changeBirthday(ele){
	    	if($(ele).val().length>=14){
		    	var year = $(ele).val().substring(6,10);
		    	var month = $(ele).val().substring(10,12);
		    	var day = $(ele).val().substring(12,14);
	    		$("#birthday").val(year + "-" + month + "-" + day);
	    	}
	    }
	    /*用户信息-修改*/
	    $("#form-user-edit").validate({
			onkeyup: false,
			rules:{
				userName:{
					required:true,
				},
				phonenumber:{
					required:true,
					isPhone:true,
		            remote: {
		                url: ctx + "system/user/checkPhoneUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"userId": function() {
		                		return $("#userId").val();
		                    },
		        			"phonenumber": function() {
		                        return $.common.trim($("#phonenumber").val());
		                    }
		                },
		                dataFilter: function (data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				birthday:{
					required:true,
				},
				idcard:{
					required:true,
		            remote: {
		                url: ctx + "system/student/checkAnyThingUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"studentId": function() {
		                		return $("[id='student.studentId']").val();
		                    },
		        			"idcard": function() {
		                        return $.common.trim($("[id='idcard']").val());
		                    }
		                },
		                dataFilter: function (data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				parentName:{
					required:true,
				},
				idcardImg:{
					required: true
				}
			},
			messages: {
				"userName": {
	                required: "请输入学生姓名",
	            },
				"phonenumber":{
					required: "请输入手机号码",
		        	remote: "手机号码已经存在"
				},
				"birthday":{
					required: "请选择你的生日"
				},
				"idcard":{
					required: "请填写身份证号码",
		        	remote: "身份证号码已被注册"
				},
				"parentName":{
					required: "请填写监护人姓名"
				},
				"idcardImg":{
					required: "请选择两寸证件照"
				}
		    },
		    focusCleanup: true
		});
		
		function submitUserInfo() {
	        var sex = $("input[type='radio']:checked").val();
	        if(sex == "" || sex == undefined){
	        	$.modal.alertError("请选择性别");
	        	return;
	        }
	        if($("#showidcardImgTemp").attr("src")!=null){
		        if($("#showidcardImgTemp").width()<410 || $("#showidcardImgTemp").width()>415 ){
		        	$.modal.alertError("证件照宽度需在410-415像素，高度575-580像素之间！当前尺寸："+$("#showidcardImgTemp").width() + "x" + $("#showidcardImgTemp").height());
		        	return;
		        }
		        if($("#showidcardImgTemp").height()<575 || $("#showidcardImgTemp").height()>580 ){
		        	$.modal.alertError("证件照宽度需在410-415像素，高度575-580像素之间！当前尺寸："+$("#showidcardImgTemp").width() + "x" + $("#showidcardImgTemp").height());
		        	return;
		        }
	        }
			if ($.validate.form()) {
                var fields = $('#form-user-edit').serializeArray();
                var param = {}; //声明一个对象
                var student = {};
                $.each(fields, function(index, field) {
                    //通过变量，将属性值，属性一起放到对象中
                    if(field.name.indexOf("student") > -1){
                        student[field.name.split(".")[1]] = field.value;
                    }else{
                        param[field.name] = field.value;
                        if(field.name.indexOf("idcard")>-1 || field.name.indexOf("idcardImg")>-1 ){
                        	student[field.name] = field.value;
                        }
                    }
                });
                param["student"] = student;
                if(!isEdit){
	                $.get(ctx + "system/student/checkIdcardAndName",{idcard:student["idcard"],studentName:param["userName"]},function(msg){
	                	if(msg == "success"){
	                		$.operate.saveModalByBody(ctx + "system/user/profile/update", param, "正在上传数据，请稍后...", function(){
	        	        		if(isRefresh == false){
	        		        		$.modal.reload();
	        		        	}
	        	        	});
	                	}else{
	                		$.modal.alertError("身份证与姓名不一致");
	                	}
	                })
                }else{
                	$.operate.saveModalByBody(ctx + "system/user/profile/update", param, "正在上传数据，请稍后...", function(){
    	        		if(isRefresh == false){
    		        		$.modal.reload();
    		        	}
    	        	});
                }
                
			    
	        }
	    }
	    
	    /*用户管理-修改密码*/
	    $("#form-user-resetPwd").validate({
	    	onkeyup: false,
			rules:{
				oldPassword:{
					required:true,
					remote: {
	                    url: ctx + "system/user/profile/checkPassword",
	                    type: "get",
	                    dataType: "json",
	                    data: {
	                        password: function() {
	                            return $("input[name='oldPassword']").val();
	                        }
	                    }
	                }
				},
				newPassword: {
	                required: true,
	                minlength: 6,
	    			maxlength: 20
	            },
	            confirmPassword: {
	                required: true,
	                equalTo: "#newPassword"
	            }
			},
			messages: {
	            oldPassword: {
	                required: "请输入原密码",
	                remote: "原密码错误"
	            },
	            newPassword: {
	                required: "请输入新密码",
	                minlength: "密码不能小于6个字符",
	                maxlength: "密码不能大于20个字符"
	            },
	            confirmPassword: {
	                required: "请再次输入新密码",
	                equalTo: "两次密码输入不一致"
	            }

	        },
	        focusCleanup: true
		});
		
		function submitChangPassword () {
	        if ($.validate.form("form-user-resetPwd")) {
	        	$.operate.saveModal(ctx + "system/user/profile/resetPwd", $('#form-user-resetPwd').serialize());
	        }
	    }


        /*
       三个参数
       file：一个是文件(类型是图片格式)，
       w：一个是文件压缩的后宽度，宽度越小，字节越小
       objDiv：一个是容器或者回调函数
       photoCompress()
       */
        function photoCompress(file,w,objDiv){
            var ready=new FileReader();
            /*开始读取指定的Blob对象或File对象中的内容. 当读取操作完成时,readyState属性的值会成为DONE,如果设置了onloadend事件处理程序,则调用之.同时,result属性中将包含一个data: URL格式的字符串以表示所读取文件的内容.*/
            ready.readAsDataURL(file);
            ready.onload=function(){
                var re=this.result;
                canvasDataURL(re,w,objDiv)
            }
        }

        function canvasDataURL(path, obj, callback){
            var img = new Image();
            img.src = path;
            img.onload = function(){
                var that = this;
                // 默认按比例压缩
                var w = that.width,
                    h = that.height,
                    scale = w / h;
                w = obj.width || w;
                h = obj.height || (w / scale);
                var quality = 0.7;  // 默认图片质量为0.7
                //生成canvas
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                // 创建属性节点
                var anw = document.createAttribute("width");
                anw.nodeValue = w;
                var anh = document.createAttribute("height");
                anh.nodeValue = h;
                canvas.setAttributeNode(anw);
                canvas.setAttributeNode(anh);
                ctx.drawImage(that, 0, 0, w, h);
                // 图像质量
                if(obj.quality && obj.quality <= 1 && obj.quality > 0){
                    quality = obj.quality;
                }
                // quality值越小，所绘制出的图像越模糊
                var base64 = canvas.toDataURL('image/jpeg', quality);
                // 回调函数返回base64的值
                callback(base64);
            }
        }
        function initForm(){
        	if($("#userName").val()!='' && $("#idcard").val()!=''){
        		$("#userName").attr("disabled",true);
        		$("#idcard").attr("disabled",true);
        		$("#birthday").attr("disabled",true);
        		isEdit = true;
        	}
        }
	</script>
</body>
</html>
